.not-found img {
    height: 90vh;
}

@media screen and (max-width: 749px) {
    .not-found img {
        width: 90%;
        height: auto;
        display: flex;

        justify-content: center;
    }
}