.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    font-weight: 500;
    font-size: 18px;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 10px;

}