.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    font-weight: 500;
    font-size: 18px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 22px 10px;

}